@using Newtonsoft.Json;
@model PBRmats.Core.Entities.Material

@{
    ViewData["Title"] = "Edit";
    var tagsValue = Model.MaterialTags != null ?
                    JsonConvert.SerializeObject(Model.MaterialTags.Select(t => new { value = t.Tag.Title })) :
                    string.Empty;
}

<h1>Edit</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" class="d-flex flex flex-column gap-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgColor" class="control-label"></label>
                <input asp-for="AvgColor" type="color" class="form-control" />
                <span asp-validation-for="AvgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgSpecularColor" class="control-label"></label>
                <input asp-for="AvgSpecularColor" type="color" class="form-control" />
                <span asp-validation-for="AvgSpecularColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgMetallic" class="control-label"></label>
                <input asp-for="AvgMetallic" class="form-control" />
                <span asp-validation-for="AvgMetallic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgIOR" class="control-label"></label>
                <input asp-for="AvgIOR" class="form-control" />
                <span asp-validation-for="AvgIOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" type="date" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@(ViewData["Categories"] as SelectList)" class="form-control">
                    <option value="">Select a Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseId" class="control-label"></label>
                <select asp-for="LicenseId" asp-items="@(ViewData["Licenses"] as SelectList)" class="form-control">
                    <option value="">Select a License</option>
                </select>
                <span asp-validation-for="LicenseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input name='MaterialTags' id="MaterialTags" value='@tagsValue'>
            </div>

            <div class="form-group">
                <label for="MaterialZipFile" class="control-label">Upload ZIP File</label>
                <input type="file" name="MaterialZipFile" class="form-control" accept=".zip" />
            </div>
            <div class="form-group">
                <label>Current ZIP File</label>
                @if (!string.IsNullOrEmpty(Model.ZipFileUrl))
                {
                    <div>
                        <a href="@Model.ZipFileUrl" target="_blank">@Model.ZipFileUrl</a>
                    </div>
                }
                else
                {
                    <div>No ZIP file currently associated with this material.</div>
                }
            </div>

            <div class="form-group">
                <label for="MaterialImage">Material Image</label>
                <input type="file" name="MaterialImage" id="MaterialImage" class="form-control" onchange="previewImage();" />
            </div>
                <input type="hidden" name="materialId" value="@Model.Id" />
                <button class="btn btn-warning">Reset to Default Image</button>
            <div class="form-group">
                <img id="preview" src="@Model.ImageUrl" alt="Image Preview" style="max-width: 200px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
