@using PBRmats.Core.Entities

@model IEnumerable<Material>

@{
    var licenses = ViewData["Licenses"] as IEnumerable<License>;
}

<div class="flex-column row flex-grow-1 m-0 overflow-hidden flex-wrap gap-2">
    <div class="card element">
        <form method="get" action="/Home/Index">
            <div class="input-group my-3">
                <input type="text" autocomplete="off" class="form-control" placeholder="Search by title" name="searchTerm">
                <!-- Hidden inputs for other filters -->
                <input type="hidden" name="sortBy" id="searchSortBy" />
                <input type="hidden" name="licenseSort" id="searchLicenseSort" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card element">
        <form asp-controller="Home" asp-action="Index" id="filterForm" class="mb-3">
            <input type="hidden" name="searchTerm" id="hiddenSearchTerm" value="">
            <div class="d-flex flex-column flex-md-row justify-content-start align-items-center gap-2">
                <div>
                    <p class="m-0 text-nowrap" for="sortBy">Sorting by:</p>
                </div>
                <div>
                    <select name="sortBy" id="sortBy">
                        <option value="">Date (Newest First)</option>
                        <option value="dateAsc">Date (Oldest First)</option>
                        <option value="titleAsc">Title (A-Z)</option>
                        <option value="titleDesc">Title (Z-A)</option>
                    </select>
                </div>
                <div>
                    <select name="licenseSort" id="licenseSort">
                        <option value="">All Licenses</option>
                        @foreach (var license in licenses)
                        {
                            <option value="@license.Id">@license.Title</option>
                        }
                    </select>
                </div>
            </div>
        </form>

        @if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var material in Model)
                {
                    <div class="col-xl-2-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center mb-2">
                        <div class="card material-card"
                             data-toggle="modal"
                             data-target="#materialDetailModal"
                             data-material-id="@material.Id"
                             data-material-title="@material.Title"
                             data-material-image="@material.ImageUrl"
                             data-material-color="@material.AvgColor"
                             data-material-specularcolor="@material.AvgSpecularColor"
                             data-material-metallic="@material.AvgMetallic"
                             data-material-ior="@material.AvgIOR"
                             data-material-date="@material.ReleaseDate"
                             data-material-category="@material.Category.Title"
                             data-material-license="@material.License.Title">
                            <img src="@material.ImageUrl" alt="@material.Title" class="card-img-top material-img absolute z-1 top-0 col d-flex flex-column fill-height justify-center align-center">
                            <p class="card-text text-center">@material.Title</p>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No materials available.</p>
        }
    </div>

    <div class="modal fade" id="materialDetailModal" tabindex="-1" role="dialog" aria-labelledby="materialDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content element">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMaterialTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 id="modalMaterialTitle"></h3>
                            <div class="d-flex align-items-center mb-2">
                                <span class="ml-2" id="modalMaterialColor"></span>
                                <div id="modalMaterialColorDisplay" style="width: 25px; height: 25px; border: 1px solid #000;"></div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <span class="ml-2" id="modalMaterialSpecularColor"></span>
                                <div id="modalMaterialSpecularColorDisplay" style="width: 25px; height: 25px; border: 1px solid #000;"></div>
                            </div>
                            <p id="modalMaterialMetallic"></p>
                            <p id="modalMaterialIOR"></p>
                            <p id="modalMaterialCategory"></p>
                            <p id="modalMaterialLicense"></p>
                            <p id="modalMaterialDate"></p>
                        </div>
                        <div class="col-md-6">
                            <img id="modalMaterialImage" src="" alt="Material Image" class="img-item img-fluid mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).on('click', '.material-card', function () {
        var materialTitle = $(this).data('material-title');
        var materialImage = $(this).data('material-image');

        var materialColor = $(this).data('material-color');
        var materialSpecularColor = $(this).data('material-specularcolor');

        var materialMetallic = $(this).data('material-metallic');
        var materialIOR = $(this).data('material-metallic');

        var materialCategory = $(this).data('material-category');
        var materialLicense = $(this).data('material-license');
        var materialDate = $(this).data('material-date');

        $('#modalMaterialTitle').text(materialTitle);
        $('#modalMaterialImage').attr('src', materialImage);

        $('#modalMaterialColor').text('Avarage Color: ' + materialColor);
        $('#modalMaterialColorDisplay').css('background-color', materialColor);

        $('#modalMaterialSpecularColor').text('Avarage Specular Color: ' + materialSpecularColor);
        $('#modalMaterialSpecularColorDisplay').css('background-color', materialSpecularColor);

        $('#modalMaterialMetallic').text('Avarage Metallic: ' + materialMetallic);
        $('#modalMaterialIOR').text('Avarage IOR: ' + materialIOR);

        $('#modalMaterialCategory').text('Category: ' + materialCategory);
        $('#modalMaterialLicense').text('License: ' + materialLicense);
        $('#modalMaterialDate').text('Release Date: ' + materialDate);
    });
</script>